<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">

</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!-- Add your site or application content here -->
  <!--<p>Hello world! This is HTML5 Boilerplate.</p>-->
  <!--<script src="js/vendor/modernizr-{{MODERNIZR_VERSION}}.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
<script>
  
  $(function(){
    //Bounce through a proxy due to CORS issues
    $.getJSON("https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/9f842050f7c5d83b503fc93844d8c25c/44.3851,-88.73336")
    .done(function(data){
      $("body").append("<h1>The current weather is: " + data.currently.summary + "</h1>");
      $("body").append("<div>Temp: " + data.currently.temperature + "</div>");
      $("body").append("<div>Wind Speed: " + data.currently.windSpeed + "</div>");

      $.each(data.alerts, function(index, alert){
        $("body").append("<div class='alertTitle'>" + alert.title + " (" + alert.severity + ")</div>");
        $.each(alert.regions, function(index2, region){
          $("body").append("<div class'alertRegions'" + region + "</div>");
        })
        $("body").append("<div class='alert'>" + alert.description + "</div>");
      })
    })
    /*var test = $.ajax({
      type: "GET",
      url: "https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/9f842050f7c5d83b503fc93844d8c25c/44.8967,-89.6207",
      dataType: "application/JSON",
      success: function(data){
          $("body").append("<h1>Success</h1>");
      },
      
    });*/
    
    
  })
</script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>-->
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
